.estilo{
  background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg);  
  margin: 0.5em;
  padding: 25px;
  color: rgb(249, 244, 244);
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 10px;
}
.edu{
    margin: 0.5em;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 6, 11);
    border: 2px solid rgb(10, 10, 10);
    border-radius: 10px;
    
}
.marco{
  border: 1px solid rgb(10, 10, 10);
  border-radius: 100px;
}